<div class="game">
    <h2><%= game.title %></h2>
    <div class="row">
        <div class="col-md-3">
            <%= cover_image_tag(game, height: "200", class: 'img-fluid rounded') %>
        </div>
        <div class="col-md-9">
            <p>
                <%= game.description.truncate(500) %><br>
                <strong>Age Restriction:</strong> <%= game.age_restriction %><br>
                <strong>Recurrence:</strong> <%= game.recurrence %><br>
                <strong>Next game:</strong> <%= game.next_game.strftime("%B %d, %Y") %><br>
                <strong>Time:</strong> <%= game.game_time.strftime("%I:%M %p") %><br>
                <strong>Duration:</strong> <%= pluralize(game.duration, 'hour') %><br>
                <strong>Price:</strong> <%= game.price.to_i.zero? ? 'Free' : number_to_currency(game.price) %><br>
                <strong>Seats:</strong> <%= game.occupied_seats %> / <%= game.seats %><br>
                <%= link_to 'Show', game_path(game), class: 'btn btn-info' %>
                <% if user_signed_in? && current_user == game.dm %>
                    <%= link_to 'Edit', edit_game_path(game), class: 'btn btn-warning' %>
                    <%= link_to 'Delete', game_path(game), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                <% end %>
            </p>
        </div>
    </div>
</div>